<div class="container py-5">
  <div class="row">
      <div class="col-4">
          <img src="" alt="imagen de producto" class="h-100 w-100">
      </div>
      <div class="col-7 ps-5">
          <h4 class="text-info"></h4>
          <p>Marca: </p>
          <hr>
          <h3>€</h3>
          <p class="text-success">En stock</p>
          <a href="" class="btn btn-primary mt-3 px-5" style="border-radius: 20px">Comprar ahora</a>
          <a href="" class="btn btn-primary mt-3 px-5 mx-2 text-white" style="border-radius: 20px; background-color: #c27400">Añadir a la cesta</a>
      </div>
  </div>
</div>
