<form class="form my-5 container" [formGroup]="addForm">
    <h3 class="h3 mb-3 font-weight-normal">Añadir producto</h3>

    <!-- Signup form -->
    <div class="form-group">
        <label>Nombre del producto</label>
        <input type="text" class="form-control" formControlName="nombre"/>
    </div>
     <div class="form-group">
        <label>Precio</label>
        <input type="text" class="form-control" formControlName="precio"/>
    </div>
     <div class="form-group">
        <label>Marca del producto</label>
        <input type="text" class="form-control" formControlName="marca"/>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <textarea class="form-control" formControlName="descripcion"></textarea>
    </div>
    <div class="form-group">
        <label>Sube una imagen</label>
        <input type="file" class="form-control" formControlName="image" (change)="onSelectImage($event)"/>
    </div> 
    <button type="submit" class="btn
        btn-block btn-primary mt-3" (click)="crearProducto()">
        Añadir
    </button>
</form>
