<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand my-2 mx-2" href=""><img style="height: 30px; width: 90px;" src="assets/images/logo-nav.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav mx-lg-4 mx-md-0">
                <li class="nav-item mx-3 my-md-1 my-sm-1">
                    <a class="nav-link text-white p-0" href="">MIS PEDIDOS</a>
                </li>
                <li class="nav-item mx-3 my-md-1 my-sm-1">
                    <a class="nav-link text-white p-0" href="">SUBSCRIPCION</a>
                </li>
                <li class="nav-item mx-3 my-md-1 my-sm-1">
                    <a class="nav-link text-white p-0" href="#">CONTACTO</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-lg-4 mx-md-0">
                <li class="nav-item mx-3 my-md-1 my-sm-1 my-2 pt-2">
                    <a class="nav-link text-white pb-0 px-0" aria-current="page">Hola, </a>
                </li>
                <li class="nav-item mx-3 my-md-1 my-sm-1 my-1 pt-2">
                  <a class="nav-link text-white pb-0 px-0 text-uppercase" aria-current="page" href="">Cerrar sesion</a>
                </li>
                <li class="nav-item mx-3 my-md-1 my-sm-1 my-1 pt-2">
                    <a class="nav-link text-white pb-0 px-0 text-uppercase" aria-current="page" href="">Iniciar sesion</a>
                </li>
                <li class="nav-item mx-3 my-md-1 my-sm-1 my-1 pt-2">
                    <a class="nav-link text-white pb-0 px-0 text-uppercase" aria-current="page" href="">Registro</a>
                </li>
                <li class="nav-item mx-3 my-md-1 my-sm-1 pt-2">
                    <a class="nav-link text-white p-0 carrito" href="">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<div class="container-fluid w-100 text-center py-4" id="volver_arriba" style="background-color: rgb(56, 56, 56);">
    <a href="#" class="text-white fw-bold">Volver arriba</a>
</div>
<footer class="bg-dark text-center text-white pt-3 px-0">
    <div class="container p-4">
        <section class="map-navegacion">
            <div class="row">
                <div class="col-lg-3 mb-4 mb-lg-5">
                    <ul class="list-unstyled mb-0 text-start">
                        <li class="p-1">
                            <a href="" class="text-white">Pedidos</a>
                        </li>
                        <li class="p-1">
                            <a href="" class="text-white">Gestiona tu subscripcion</a>
                        </li>
                        <li class="p-1">
                            <a href="#!" class="text-white">Politica de seguridad</a>
                        </li>
                        <li class="p-1">
                            <a href="#!" class="text-white">Acerca de Amazon Prime</a>
                        </li>
                        <li class="p-1">
                            <a href="#!" class="text-white">Cookies</a>
                        </li>
                        <li class="p-1">
                            <a href="#!" class="text-white">Ayuda</a>
                        </li>
                        <li class="p-1 mb-2">
                            <a href="#!" class="text-white">Contactanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <hr style="opacity: 1;">
        <section class="mb-4 col-12 pt-5" id="txt">
            <p class="titulo pb-4"><img src="assets/images/logo-nav.png" alt="logo" width="120px" height="40px"></p>
            <ul class="list-unstyled mb-0 d-inline paises">
                <li class="mx-2">Australia</li>
                <li class="mx-2">Alemania</li>
                <li class="mx-2">Brasil</li>
                <li class="mx-2">Canadá</li>
                <li class="mx-2">China</li>
                <li class="mx-2">Estados Unidos</li>
                <li class="mx-2">Francia</li>
                <li class="mx-2">India</li>
                <li class="mx-2">Italia</li>
                <li class="mx-2">Japón</li>
                <li class="mx-2">México</li>
                <li class="mx-2">Países Bajos</li>
                <li class="mx-2">Polonia</li>
                <li class="mx-2">Emiratos Árabes Unidos</li>
                <li class="mx-2">Reino Unido</li>
                <li class="mx-2">Singapur</li>
                <li class="mx-2">Turquía</li>
            </ul>
        </section>
    </div>
    <div class="text-center p-3 titulo" style="background-color: rgba(0, 0, 0, 0.2);">
        © 1996-2022 Copyright:
        <p class="text-white d-inline bold titulo">Amazon</p>
    </div>
</footer>
